@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
  --color-primary-green: #30ce6f;
  --color-primary-green-light: #c1f0d4;
  --color-primary-purple: #701efe;
  --color-txtSecondary: #7a7a7c;
  --color-primary-orange: #ff9203;
  --color-primary-turquoise: #63d6d9;
  --color-primary-yellow: #f6c416;
  --color-primary-pink: #ff80bb;
  --color-slide-bd: #f9f8f4;
}

@layer base {
  h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 150%;
  }
}
