@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
  --color-primary-green: #30ce6f;
  --color-primary-green-light: #c1f0d4;
  --color-primary-purple: #701efe;
  --color-txtSecondary: #7a7a7c;
  --color-primary-orange: #ff9203;
  --color-primary-turquoise: #63d6d9;
  --color-primary-yellow: #f6c416;
  --color-primary-pink: #ff80bb;
  --color-slide-bd: #f9f8f4;
}

@layer base {
  /* h1 { */
  /*   font-size: 52px; */
  /*   font-weight: bold; */
  /*   line-height: 150%; */
  /* } */
}

@layer components {
  .quinder-h1 {
    @apply text-[22px] text-center xl:text-left xl:text-[52px] font-bold leading-normal text-foreground;
  }

  .quinder-h2 {
    @apply text-xl md:text-[32px] xl:text-[42px] font-bold;
  }

  .quinder-h3 {
    @apply text-[16px] md:text-[22px] xl:text-3xl font-bold;
  }

  .quinder-p-display {
    @apply text-txtSecondary text-sm md:text-lg xl:text-2xl font-semibold;
  }

  .quinder-p {
    @apply text-txtSecondary text-sm md:text-base xl:text-[16px] font-medium;
  }
}
